h4 Flight #{flight_counter+1}

table border="1"
  = render partial: 'flight_route', collection: flight.flight_routes
  tr
    td Total price
    td= flight.price
  tr
    td colspan="2"= link_to 'Book flight', ticket_form_path(flight_uuid: flight.uuid), remote: true, method: :post