tr
  td colspan="2" = "#{flight_route_counter+1} route"
tr
  td Aircompany
  td= flight_route.air_company
tr
  td Flight number
  td= flight_route.flight_number
tr
  td Flight time
  td= flight_route.flight_time

tr
  td Departure
  td= flight_route.departure_full
tr
  td Arrival
  td= flight_route.arrival_full
