/ - flights.each_with_index do |flight, index|
/   = render partial: 'search_forms/'+flight.class.name.underscore, locals: {flight: flight, flight_counter: index}

= render partial: 'flight', collection: flights