= simple_form_for resource, url: search_path, method: :post do |f|
  = f.simple_fields_for :search_routes, input_html: {include_hidden: false} do |fr|
    = fr.input :departure
    = fr.input :arrival
    = fr.input :date
    = fr.input :search_route_id, as: :hidden, input_html: {value: fr.options[:child_index]}
    hr
  = f.submit