= link_to 'Tickets', tickets_path
h3 search form
= render partial: 'form', locals: {resource: @resource}

hr
#search_result
  | Search results:
  br
  - if @resource.errors
    - @resource.errors.messages.each do |key,values|
      - next if key.to_s.start_with?('search_routes')
      - values.each do |message|
        = "#{key}: #{message}"
      br
  - if @flights.present?
    = render partial: 'flights', locals: {flights: @flights}
