<%- if @resource.errors.empty? %>
$("#search_result").prepend("<%= j(render partial: 'create', locals: {resource: @resource}) %>");
<%- else %>
alert("<%= j(render partial: 'errors', locals: {resource: @resource}) %>");
<%- end %>
